CHAT_MODEL=gpt-5-mini
OPENAI_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434
EMBEDDING_MODEL=mxbai-embed-large
CHROMA_DB_PATH=./chromadb
CHROMA_DB_COLLECTION_NAME=knowledgebase
KNOWLEDGEBASE_FOLDER=./knowledgebase
CHAT_DB_PATH=./chat_history.db
